<div class="container">
    <h1>Return Policy</h1>
    <p><span class="highlight">Donations and Payments:</span> All donations made to Prajapathi Foundation are non-refundable. Please ensure you review your contribution details carefully before completing the transaction.</p>

    <h2>Merchandise Returns</h2>
    <ul>
        <li>The item must be returned within <span class="highlight"> 7 </span> days of receipt.</li>
        <li>The item must be unused, in its original packaging, and in the same condition as delivered.</li>
    </ul>

    <h2>Non-Returnable Items</h2>
    <p>Certain items, such as digital products, personalized items, or perishable goods, are not eligible for returns or refunds.</p>

    <h2>Return Process</h2>
    <ul>
        <li>To initiate a return, please contact us at <span class="highlight">prajapaticsf&#64;gmail.com</span> or <span class="highlight">9137594818</span>.</li>

        <li>Provide proof of purchase (order number or receipt) and a detailed reason for the return.</li>
        <li>If the return is approved, instructions will be provided for shipping the item back.</li>
    </ul>

    <h2>Return Shipping Costs</h2>
    <p>Return shipping costs are the responsibility of the customer unless the return is due to an error on our part, such as receiving a defective or incorrect item.</p>

    <h2>Refunds</h2>
    <ul>
        <li>Approved refunds will be processed within <span class="highlight"> 7 </span> days after receiving and inspecting the returned item.</li>
        <li>Refunds will be credited to the original payment method.</li>
    </ul>

    <h2>Policy Updates</h2>
    <p>We reserve the right to update or modify this return policy at any time. Changes will be effective immediately upon posting.</p>
</div>
