



<main class="main">
  <div class="container">
    <nav class="navbar navbar-expand-lg " style="justify-content: space-evenly;">

        <!-- Logo for mobile view -->
      <img class="d-lg-none" style="cursor: pointer;" height="50" width="100" (click)="onclicklogo()" src="../../assets/logo/Prajapati Foundation Logo.png" alt="image">

      <!-- Hamburger Menu Toggle Button -->
      <button class="navbar-toggler" type="button" style="margin-right: -114px;" (click)="isMenuCollapsed = !isMenuCollapsed" aria-controls="navbarSupportedContent" aria-expanded="!isMenuCollapsed" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item p-2">
            <img style="cursor: pointer;" (click)="onclicklogo()" src="../../assets/logo/Prajapati Foundation Logo.png" width="150" height="50" alt="image">
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark mt-4" routerLink="Home"><b>Home</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark mt-4" routerLink="ApplicationForm"><b>Application For ScholarShip</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark mt-4" routerLink="Contact"><b>Contact</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark mt-4" routerLink="Membership"><b>Become A Member</b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark mt-4" routerLink="Sponsorship"><b>Sponsor A Student</b></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</main>
<router-outlet />




