
<div class="main-container">
    <div class="hero-container mt-2">
   <img
   src="../../assets/Hero's Section.svg"
   alt="Profile"
   class="hero-section"
 />
 <img src="assets/Bubblesushil.svg"   alt="Profile"
 class="hero-section2"
/>
 <p class="hero-text"><span>Donate to Improve </span>The <span>Community</span> Development</p>
 <h6 class="hero-subtitle">For over a decade, Community has pioneered and grown to become the global leader for professional communities of influence.</h6>
 <button type="button" class="btn btn-primary donner-button">Primary</button>
</div>

<div class="container">
  <div class="">
  <div class="section-title">MEMBER DETAIL</div>
</div>
  <form>
      <div class="row mt-3">
        <div class="col-md-6 form-group">
          <label class="form-label">First Name*</label>
          <input type="text" class="input-line">
        </div>
        
          <div class="col-md-6 form-group">
              <label class="form-label">Last Name*</label>
              <input type="text" class="input-line">
          </div>
      </div>
      <div class="mt-3 form-group">
          <label class="form-label">Contact Number*</label>
          <input type="text" class="input-line">
      </div>
      <div class="mt-3 form-group">
          <label class="form-label">Address</label>
          <input type="text" class="input-line">
      </div>
  </form>
  <div class="section-title1 mt-4">DONATE</div>
  <p class="text-center mt-3"><strong>Giving is not just about <span class="text-success">making a donation</span>, it's about <span class="text-success">making a difference</span></strong></p>
  <p class="text-muted1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <div class="d-flex flex-wrap justify-content-center donation-amount">
      <button class="btn btn-outline-primary">₹1,000</button>
      <button class="btn btn-outline-primary">₹5,000</button>
      <button class="btn btn-outline-primary">₹10,000</button>
      <button class="btn btn-outline-primary">₹20,000</button>
      <button class="btn btn-outline-primary">₹50,000</button>
  </div>
  <div class="divider">
    <hr class="line">
    <p class="text-center1">OR</p>
    <hr class="line">
  </div> 
  <div class="mt-3 form-group2">
    <label class="form-label">Custom Amount</label>
    <input type="text" class="input-line" placeholder="₹ Enter amount">
</div>
  <small class="text-muted">Note: You can not enter amount below ₹1000</small>
  <div class="section-title1 mt-4">PAYMENT DETAILS</div>
  <div class="payment-option">
    <div>
      <input type="radio" name="payment" class="me-2 radio-input"> UPI
      <p>Pay by any UPI app</p>
    </div>
      <div class="d-flex gap-2 justify-content-center">
      <img src="../../assets/payment1.svg" alt="UPI" class="payment-img">
      <img src="../../assets/payment2.svg" alt="UPI" class="payment-img">
      <img src="../../assets/payment3.svg" alt="UPI" class="payment-img">
    </div>
  </div>
  <div class="payment-option1">
    <div>
      <input type="radio" name="payment" class="me-2 radio-input"> Credit / Debit / ATM Card
      <p>Add and secure cards as per RBI guidelines</p>
    </div>
  </div>
  <div class="payment-option1">
    <div>
      <input type="radio" name="payment" class="me-2 radio-input">  Net Banking
      <p>This instrument has low success, use UPI or cards for better experience</p>
    </div>
  </div>
  <div class="payment-option1">
    <div>
      <input type="radio" name="payment" class="me-2 radio-input"> Scan QR Code
      <p>This instrument has low success, use UPI or cards for better experience</p>
    </div>
  </div>
  <button class="btn btn-disabled mt-4">Proceed to Pay</button>
</div>
</div>