<!-- 
<style>

 
 .carousel-inner{
  background-color: #f0f0f0;
 }
  .content-sec {
        display: flex; 
        justify-content: space-between;
        padding-left: 60px;
    }
    .content .left-sec {   
       
       line-height: 1;
        height: auto;    
        width: 90%; 
        background-color: #f0f0f0;
        padding: 20px;
        margin-top: 75px; 
    }
    .content .right-sec {       
        width: 100%; 
        background-color:  #f0f0f0;;
       
        margin-top: 45px;
    }
    
   .membtn1{
      background-color: #834333;
      color: white;
      padding: 15px;
      border-radius: 10px;
      margin: 30px 60px;
       width: 200px;    
      border: none;
    }
    content-sec1{
      display: flex;
      flex-direction: column;
    }
    .up-section {   
      padding-top: 20px;
        text-align: center;
        width: 100%; 
        background-color: #f0f0f0;
       line-height: 1;
    }
     .down-section {       
        width: 100%; 
        background-color: #f0f0f0;
          
    }
    
</style>

   

    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
               <div class="content-sec">
                   <div class="left-sec">                    
                     <h6 style="color: #834333;">WELCOME TO </h6>
                     <p style=" font-size: 55px;"><strong>The <span style="color: #834333;"> Prajapati <br> Foundation</span> of India</strong></p>
                     <div >For over a decade, Community.co has pioneered and growth to become the<br> global leader of proffesional communities of influence.</div>                   
                     <button  class="membtn1">Become A Member</button>                 
                    </div>           
                    <div class="right-sec">
                       <img src="/assets/image.png" alt="image"  style="width:90%;height:500px" >       
                    </div>                     
                </div> 
               
          </div>
          <div class="carousel-item">
            <div class="content-sec">
              <div class="left-sec">
                <h6 style="color: #834333;">WELCOME TO </h6>
                <p style=" font-size: 55px;"><strong>The <span style="color: #834333;">Prajapati<br> Foundation</span> of India</strong></p>
                <div >For over a decade, Community.co has pioneered and growth to become the<br> global leader of proffesional communities of influence.</div>
                <div class="memberbtn">
                  <button type="button" class="membtn1">Become A Member</button>
                 </div> 
               </div>           
               <div class="right-sec">
                  <img src="/assets/3585357_66202 1 (1).png" alt="loading"  style="width:100%">
               </div>           
            </div>

          </div> 
          <div class="carousel-item">
            <div class="content-sec">
              <div class="left-sec">
                <h6 style="color: #834333;">WELCOME TO </h6>
                <p style=" font-size: 55px;"><strong>The <span style="color: #834333;">Prajapati<br> Foundation</span> of India</strong></p>
                <div >For over a decade, Community.co has pioneered and growth to become the<br> global leader of proffesional communities of influence.</div>
                <div class="memberbtn">
                  <button type="button" class="membtn1">Become A Member</button>
                </div> 
               </div>           
               <div class="right-sec">
                  <img src="/assets/Frame 47839.png" alt="loading"  style="width:100%">
               </div>
           </div> 
           
          </div>
         
          <div class="carousel-item">
            <div class="content-sec">
              <div class="up-section">
                <h6 style="color: #834333;">WELCOME TO </h6>
                <p style=" font-size: 55px;"><strong>The <span style="color: #834333;">Prajapati Foundation</span><br> of India</strong></p>
                <div >For over a decade, Community.co has pioneered and growth to become the global leader<br> of proffesional communities of influence.</div>  
                <button type="button" class="membtn1">Become A Member</button>
                
                  
                
              </div>     
               <div class="down-section">   
                 <img src="/assets/Asset 3@4x 1.png" alt="image.png"  style="width:90%; padding-top: 15px;padding-left: 80px;">               
                </div>
            </div>
          
          </div> 
          <div class="carousel-item">
            <div class="content-sec1">
              <div class="up-section">
                <h6>Healing Hearts Healing Lives</h6>
                <p style=" font-size: 55px;"><strong>Being Part Of <span style="color: #834333;">Prajapati<br>Foundation</span> Is  A Way To Share</strong></p>
                <div>For over a decade, Community.co has pioneered and growth to become the global leader of proffesional communities of influence.</div>  
                <button type="button" class="membtn1">Donate Now</button>
              </div>           
               <div class="down-section">               
                 <img src="/assets/Frame 47776.png" alt="loading"  style="width:100%">                  
                </div>
            </div>
            
          </div> 
         
      <div class="carousel-item">
        <div class="content-sec">
              <div class="left-sec">
                <h6 style="color: #834333;">WELCOME TO </h6>
                <p style=" font-size: 55px;"><strong>The <span style="color: #834333;">Prajapati<br> Foundation</span> of India</strong></p>
                <div >For over a decade, Community.co has pioneered and growth to become the</div><div> global leader of proffesional communities of influence.</div>
                <div class="memberbtn">
                  <button type="button" class="membtn1">Become A Member</button>
                </div> 
               </div>           
               <div class="right-sec">
                  <img src="/assets/Voctor-1.png" alt="loading"  style="width:100%"> 
               </div>
           </div> 
         </div>
          
        </div>
        <img src="/assets/cloud.png" alt="image"  style=" height: 200px;background-color: #f0f0f0;width:100%"> 
       
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
        
      </div>

      
      <app-content2></app-content2>
       -->
